node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.idea
.vscode
.env
.env.backup
.env.production
build.log
*.log
npm-debug.log*
yarn-error.log
pnpm-debug.log*
.phpunit.cache
dist
dist-ssr
cypress/videos
cypress/screenshots
